<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="tests/bootstrap.php"
    backupGlobals="false"
    backupStaticAttributes="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnError="false"
    stopOnFailure="false"
    stopOnIncomplete="false"
    stopOnSkipped="false"
    stopOnRisky="false"
    verbose="false"
    syntaxCheck="false">
    <testsuites>
        <testsuite name="unit">
            <directory>tests/unit</directory>
        </testsuite>
        <testsuite name="functional">
            <directory>tests/functional</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="AUTOLOAD_PATH" value="vendor/autoload.php"/>
        <env name="DB_DRIVER" value="mysql"/>
        <env name="DB_HOST" value="localhost"/>
        <env name="DB_DATABASE" value="test"/>
        <env name="DB_USERNAME" value=""/>
        <env name="DB_PASSWORD" value=""/>
    </php>
</phpunit>